Package: com.ridn.tinc
Name: Linc
Depends: mobilesubstrate, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ridn <appleidname@yahoo.com>
Author: ridn <appleidname@yahoo.com>
Section: Tweaks
Depiction: http://ridn.me/repo/depiction/tinc
